/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 30px;
}
div{
    padding: 5px;
}
h1{
    padding: 50px 0;
    font-size: 50px;
}
p{
    font-size: 18px;
    padding-bottom: 30px ;
}
.button{
    text-align: right;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 30px;
    border: white;
}
h2{
    /* padding-bottom: 30px; */
}


/* HEADER */
header{
    color: white;
    background-color: #3161e0;
}
.logo img{
    width: 100px;
}
.top-header{
    max-width: 70%;
    margin: auto;
}
.lower-header{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    text-align: center;
}
.lower-header > div{
    min-height: 450px;
    width: 50%;
}
.lower-header div .button{
    font-size: 15px;
}
.lower-header div button:last-child{
    background-color: black;
    color: white;
}
.list{
    text-align: center;
    flex-grow: 1;
}
ul > li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
li > a{
    text-decoration: none;
    color: white;
}

/* MAIN */
main section h1{
    padding-bottom: 15px;
}
.section-two div:last-child{
    order: -1
}
.section-two, .section-four{
    background-color: lightgray;
}
main section div{
    width: 50%;
}
main section div:nth-child(2){
    width: 25%;
}
.section-four > div{
    text-align: center;
    margin: 0 auto;
    width: 75%;
}
.section-four div:nth-child(2){
    width: 75%;
}
.section-four div .button{
    background-color: #8ea1e1;
    color: white;
    margin-top: 30px;
}

/* FOOTER  */
.end {
    justify-content: space-between;
}



















/* DEBUG */
div{
    border: 1px dashed black;
}


.top-footer{
    border-bottom: 2px solid white;
}
footer{
    background-color: black;
}
.top-footer div{
    width: calc(75% / 6);
    height: 500px;
    background-color: aqua;
}
.top-footer .social{
    background-color: palevioletred;
    width: 25%;
}
.lower-footer .end{
    width: 75%;
    background-color: aqua;
    height: 50px;
}
.end div{
    height: 30px;
    width: 60px;
    background-color: pink;
    text-align: center;
}






